<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

{{- $keywordsArray := slice -}} <!-- 初始化为空切片 -->
{{- with partialCached "data/keywords" . .RelPermalink -}}
    {{- $keywordsArray = split . "," -}} <!-- 将字符串转换为切片 -->
{{- end -}}

{{- $categoriesArray := slice -}} <!-- 初始化为空切片 -->
{{- with partialCached "data/categories" . .RelPermalink -}}
    {{- $categoriesArray = split . "," -}} <!-- 将字符串转换为切片 -->
{{- end -}}

{{- if and $keywordsArray $categoriesArray }}
    {{- $mergedArray := append $keywordsArray $categoriesArray }}   <!-- 合并两个切片 -->
    {{- $uniqueArray := uniq $mergedArray }}   <!-- 去重 -->
    {{- $keywordsString := delimit $uniqueArray "," }}  <!-- 使用 delimit 拼接成字符串 -->
    <meta name='keywords' content='{{ $keywordsString }}'>
{{- end -}}


<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ if .Params.math }}{{- partial "helper/katex.html" . -}}{{ end }}
{{ if .Params.mermaid }}{{- partial "helper/mermaid.html" . -}}{{ end }}

<link rel="shortcut icon" href="favicon.ico" />

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}

<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<meta name="sogou_site_verification" content="OTPHpNvnjL" />
<meta name="bytedance-verification-code" content="rr0mrnQIsV99xSttyBKD" />
<meta name="360-site-verification" content="5b3e2696c1e86dcab859bafe70fc6062" />
<meta name="yandex-verification" content="247bcf40438ae313" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MY9LX4PFXY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MY9LX4PFXY');
</script>