{{ if .Params.mermaid }}
<script
        src="https://cdn.jsdelivr.net/npm/mermaid@8.8.2/dist/mermaid.min.js"
        integrity="sha256-KqisLh8jVMBRjpNkOhH5W9VWs+F6x6vQksLqxs7+x9A="
        crossorigin="anonymous"
></script>
<script>
    // 初始化 mermaid 配置
    mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral',
        securityLevel: 'loose'
    });
    
    // Replace mermaid pre.code to div 
    document.addEventListener("DOMContentLoaded", function() {
        Array.from(document.getElementsByClassName("language-mermaid")).forEach(
            (el) => {
                el.parentElement.outerHTML = `<div class="mermaid">${el.innerText}</div>`;
            }
        );
    });
</script>
<style>
    /* Set svg to center */
    .mermaid svg {
        display: block;
        margin: auto;
    }
</style>
{{ end }}