name: "IndexNow"
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0,12 * * *'

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
      - name: submit-zh-cn-to-bing
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: 'https://www.ququ123.top/zh-cn/sitemap.xml'
          endpoint: 'www.bing.com'
          since: 10
          since-unit: 'day'
          key: ${{ secrets.INDEXNOW_KEY }}
          lastmod-required: false
      
      - name: submit-en-to-bing
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: 'https://www.ququ123.top/en/sitemap.xml'
          endpoint: 'www.bing.com'
          since: 10
          since-unit: 'day'
          key: ${{ secrets.INDEXNOW_KEY }}
          lastmod-required: false
